.filter,
.filterLabel {
  composes: open-sans from './shared.css';
}

.filterLabel {
  padding-left: 10px;
}

.filter {
  height: calc(42px - 2 * 8px);
  width: 296px;
  font-size: 120%;
  padding: 6px 8px;
  margin-top: 10px;
  -webkit-appearance: none;
  border: 1px solid rgb(211, 211, 211);
}

.filterHint {
  composes: sr-only from './shared.css';
}
