@value lightgrey from './colors.css';

.filterBox {
  /* no rules yet */
}

.filter,
.filterLabel {
  composes: open-sans from './shared.css';
}

.filterLabel {
  padding-left: 10px;
}

.filter {
  box-sizing: border-box;
  height: 42px;
  width: 355px;
  font-size: 120%;
  padding: 6px 10px;
  margin-top: 10px;
  -webkit-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px 1px 1px 0;
}

.filterHint {
  composes: sr-only from './shared.css';
}
