@value blue-tint from './colors.css';
@value red-tint from './colors.css';
@value yellow-tint from './colors.css';
@value red from './colors.css';
@value green from './colors.css';

.data {
  composes: open-sans from './shared.css';
}

.cell {
  padding: 3px;
  width: 100%;
}

.r {
  background-color: red-tint;
}

.d {
  background-color: blue-tint;
}

.i {
  background-color: yellow-tint;
}

.senLink {
  composes: link from './shared.css';
}

.yea,
.nay {
  &::after {
    right: 10px;
    top: 10px;
    position: absolute;
  }
}

.yea::after {
  content: '✓';
  color: green;
}

.nay::after {
  content: '✗';
  color: red;
}
