@value blue from './colors.css';

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.sr-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

:global {
  a {
    text-decoration: none;
    color: blue;

    &:hover {
      text-decoration: underline;
    }
  }

  body {
    margin: 0;
  }
}
