@value blue from './colors.css';
@value darker-blue from './colors.css';

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.sr-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.fixed {
  position: fixed !important;
}

:global {
  a {
    color: blue;
    cursor: pointer;

    &:hover {
      color: darker-blue;
    }
  }

  body {
    margin: 0;
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  }
}
