<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@cabinetvotes">
  <meta property="og:title" content="CabinetVotes.org: How Senators voted on the Trump Cabinet">
  <meta property="og:url" content="https://cabinetvotes.org">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Tracking the votes of senators on Trump's nominees. Filter by party, state, and senator.">
  <meta property="og:image" content="https://c1.staticflickr.com/6/5564/14726222014_6dc5cc1cdb_b.jpg">
  <title>CabinetVotes</title>
  <% typeof css !== 'undefined' && css.forEach(function(file) { %>
    <link href="<%- file %>" rel="stylesheet preload" as="style">
  <% }); %>
</head>
<body>
  <div id="main">
    <% if (typeof html !== 'undefined') { %>
      <%- html %>
    <% } %>
  </div>
  <% typeof js !== 'undefined' && js.forEach(function(file) { %>
    <script src="<%- file %>" defer></script>
  <% }); %>
  <script async="true" charset="utf8" src="https://platform.twitter.com/widgets.js"></script>
</body>
</html>
